section{
  display: flex;
  width: 100%;
  max-width: rem(1600);
  margin: auto;
  margin-bottom: rem(50);
  .left-banner{
   flex: 1 1 50%;
   display: flex;
   flex-direction: column;
   margin-left:rem(30);
   margin-right: rem(15);
  }
  .right-banner{
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    margin-right:rem(30);
    margin-left: rem(15);
  }
}