.content-wrap{
  width: 100%;
  .accordion{
    .title{
      font-size: rem(16);
      font-weight: 600 ;
      padding: rem(10) rem(16);
      position: relative;
      &:after{
        content: '';
        position: absolute;
        top: rem(19);
        right: rem(17);
        width: rem(12);
        height: rem(2);
        background-color: #000000;
        border-radius: rem(2);
        transition: all .3s ease;       
      }
      &:before{
        content: '';
        position: absolute;
        top: rem(19);
        right: rem(17);
        width: rem(12);
        height: rem(2);
        background-color: #000000;
        border-radius: rem(2);
        transition: all .3s ease;  
        transform: rotate(90deg);     
      }
      .icon_help{
        position: absolute;
        left: rem(90);
        background-size: cover;
        background-position: center;
      }
    }
    &.active{
      .title{
        &:before{
          transform: rotate(180deg);
          transition: all .3s ease;
        }
      }
    }
  }
  &.list-type{
    ul{
      >li{
        position: relative;
        padding-left: rem(10);
        padding-bottom: rem(10);
        &:after{
          content: '';
          position: absolute;
          top:rem(10);
          left:0;
          width:rem(3);
          height: rem(3);
          background-color: $fc-black;
        }
      }
      &.flex-list{
        display: flex;
        >li{
          flex: 1 1 auto;
        }
      }
      &.flex-colum{
      display: inline-flex;
      flex-direction: column;
      }
    }
  }
  &.table-type{
    .panel{
      padding-left: 0;
      padding-right: 0;
    }
    .table-title{
      position: relative;
      font-size: rem(14);
      padding-left: rem(30);
      padding-top: rem(15);
      padding-bottom: rem(5);
      &:after{
        content: '';
        position: absolute;
        bottom: rem(14);
        left: rem(10);
        width:rem(3);
        height: rem(3);
        background-color:$fc-black;
      }
    }
    .table{
      width: 100%;
      font-size: rem(14);
      thead{
        tr{
          background-color: $table-header-bg;
          th{
            border-bottom: $table-bottom;
            border-top: $table-bottom;
          }
        }
      }
      tbody{
        tr{
          &:hover{
            background-color: $table-header-bg;
          }
          td{
            text-align: center;
            vertical-align: middle;
            color: $fc-secondary;
            border-bottom: $table-bottom;
            font-size: rem(12);
            .radio-wrap{
              input[type="radio"]{
                display: none;
              }
              .icon-radio{
                width: rem(20);
                height: rem(20);
                background-image: url(../img/icon_radio.png);
                display: flex;
                margin: auto;
              }
              input:checked+ .icon-radio{
                background-image: url(../img/icon_ch_radio.png);
              }
            }
          }
        }
      }
    }
    &.table-pad{
      tr{
        td,th{
          padding: rem(10) 0;
        }
      }
    }
    &.table-la-pad{
      tr{
        td,
        th{
          padding: rem(20) 0 ;
        }
      }
    }
  }
}