@charset 'utf-8';

.modal-wrap {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  transition: all 0.3s;
  &.is-visible {
    visibility: visible;
    opacity: 1;
  }
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -#{rem(270)};
    margin-left: -#{rem(450)};
    min-width: rem(880);
    min-height: rem(500);
    max-width: 100vw;
    max-height: 100vh;
    padding: rem(20) 0;
    box-sizing: border-box;
    background: #fff;
    border-radius: rem(4);
    overflow-y: auto;
    font-family: 'LG Smart';
    &#voc-modal{
      margin-left: -#{rem(740)};
    }
    &#claim-modal{
      margin-left: -#{rem(660)};
    }
    .title{
      text-align: center;
      border-bottom: 1px solid $fc-black;
      margin: auto;
      padding-bottom: rem(20);
      font-weight:bold;
    }
    .custom-ui{
      display: flex;
      margin:rem(35) rem(20);
      border-top: 1px solid $fc-black;
      border-bottom:$table-bottom ;
      .right{
        height: rem(320);
        overflow-y: scroll;
      }
      .left,
      .right{
        flex: 1 1 33%;
        padding: 0 rem(20);
        padding-top: rem(10);
        .move-box{
          position: relative;
          margin-bottom: rem(7);
          border: 1px solid $fc-black;
          background-color: $fc-white;
          padding: rem(5) rem(10);
          border-radius: rem(3);
          .icon_close{
            position: absolute;
            right: rem(13);
            top: rem(8);
          }
          &.fixed-box{
            color: $fc-white;
            background-color: #4d4d4d;
          } 
        }
      }
      .center{
        position: relative;
        flex: 1 1 33%;
        padding-top: rem(10);
        border-left:$table-bottom ;
        border-right: $table-bottom;
        .ui-list{
          >li{
            text-align: center;
            padding: rem(10) 0;
            margin: 0 rem(40);
            &.active{
              background-color:#a50034 ;
              a{
                color: $fc-white;
              }
            }
          }
        }
        .left-arrow{
          position: absolute;
          top: 50%;
          left: rem(10);
          a{
            .icon_left_arrow{
              display: inline-block;
            }
          }
        }
        .right-arrow{
          position: absolute;
          right: rem(10);
          top: 50%;
          a{
            .icon_right_arrow{
              display: inline-block;
            }
          }
        }
      }
    }
    .close-btn{
      position: absolute;
      right: rem(50);
      top: rem(19);
      >img{
        width: rem(20);
        border: none;
      }
    }
    .content{
      background-color:$table-header-bg ;
      margin: rem(30);
      padding: rem(15) rem(10);
      font-size: rem(14);
      .list-type{
        display: flex;
        justify-content: space-around;
        ul{
          li{
            margin-bottom: rem(7);
            text-align: right;
            &:last-child{
              margin: 0;
            }
            label{
              display: inline-block;
              width: rem(150);
              padding-right: rem(20);
            }
          }
        }
      }
      .wide-type{
        margin: rem(7) 0;
        label{
          width: rem(182);
          display: inline-block;
          text-align: right;
        }
        input{
          width: 65%;
          margin-left: rem(28);
        }
      }
      &.voc,
      .claim{
        display: flex;
        .left,
        .right{
          flex: 1 1 50%;
          .auto-flex-list{
            ul{
              display: flex;
              li{
                span{
                  @include modal-lable;
                }
              }
            }
            &.link-list{
              ul{
                li{
                  label{
                    width: rem(60);
                    padding-right: 0;
                    margin-left: rem(13);
                    text-align: center;
                  }
                  input{
                    width: rem(99);
                  }
                  .btn{
                    padding:rem(9) rem(6);
                  }
                }
              }
            }
            .number-line{
              li{
                font-size: rem(13);
              }
            }
          }
          .one-list{
            ul{
              display: flex;
              li{
                span{
                  @include modal-lable;
                }
              }
            }
            &.sm-wide{
              ul{
                li{
                  &:nth-child(3){
                    margin: 0 rem(10);
                  }
                }
              }
            }
            &.la-wide-type{
              ul{
                display: flex;
              }
              input{
                width: rem(270);
                &:first-child{
                  margin-right: rem(4);
                }
              }
            }
            &.one-wide-type{
              input{
                width: rem(545);
              }
            }
          }
          .right-margin-list{
            li{
              margin-right:rem(15);
            }
          }
          .dot{
            position: relative;
            &:after{
              content: '';
              position: absolute;
              left: 0;
              top: rem(6);
              width:rem(3);
              height: rem(3);
              background-color: $fc-black ;
            }
            &.left-banner-dot{
              &:after{
                left:rem(15);
              }
            }
          }
          .text-list{
            ul{
              li{
                display: inline-block;
                &:first-child{
                  @include modal-lable;
                }
                &.state{
                  font-size: rem(14);
                  color:$fc-secondary;
                }
                .dot{
                  margin-left: rem(2);
                  &:after{
                    left:-#{rem(5)};
                  }
                }
              }
            }
          }
          .info-list{
            display:flex;
            flex-direction: column;
            li{
              margin-bottom: rem(10);
            }
          }
          div{
            margin: rem(15) 0;
          }
          .flex-column{
            flex-direction: column;
            li{
              margin-bottom: rem(10);
              &:last-child{
                margin: 0;
              }
            }
          }
        }
        .left{
          border-right: $table-bottom;
        }
        .right{
          margin-left: rem(20);
        }
      }
      .flex-border{
        display: flex;
        .left,
        .right{
          flex: 1 1 50%;
        }
      }
      .table{
        width: 100%;
        tr{
          th{
            text-align: right;
            padding:rem(10) 0 ;
          }
          td{
            padding:rem(10) 0 ;
            padding-left: rem(15);
          }
        }
      }
      &.none-bg{
        background-color: #ffffff;
      }
      &.none-pad{
        padding: 0;
      }
    }
    &.la-type{
      width: rem(1400);
    }
    &.help{
      min-height: auto;
      .title{
        span{
          background-color: $bg-header;
          padding: rem(5) rem(10);
          color: $fc-white;
          border-radius: rem(6);
        }
      }
      .content{
        p{
          font-size: rem(17);
          font-weight: 500;
          line-height: rem(50);
          .fc-red{
            color: $fc-red;
          }
        }
      }
    }
  }
  &.sms{
    .content{
      .tab-content{
        textarea{
          border: $table-bottom;
          border-top: rem(1) solid #000000;
          background-color: $table-header-bg;
          width: 100%;
          height:rem(200);
          padding:rem(16) rem(20);
          font-size: rem(15);
        }
      }
      .number-list{
        text-align: center;
        padding: rem(22);
        border-bottom:$table-bottom;
        margin-bottom:rem(29) ;
        li{
          position: relative;
          display: inline-block;
          font-weight: 500;
          padding-left: rem(10);
          &:first-child{
            padding-right: rem(85);
          }
        }
        &.dot{
          li{
            &:after{
              content: '';
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              width:rem(3);
              height: rem(3);
              background-color:#a40033;
            }
          }
        }
      }
    }
  }
}