footer{
  width: 100%;
  text-align: center;
  background-color: $bg-header;
  height: auto;
  font-size: rem(11);
  .copyright{
    width: 100%;
    max-width: rem(1600);
    margin: auto;
    padding: rem(10) 0 ;
    p{
      color: $fc-white;
    }
  }
}