header{
  width: 100%;
  height: rem(65);
  background-color: $bg-header;
  .header{
    display: flex;
    max-width:rem(1600);
    color: white;
    padding-top: rem(8);
    margin: auto;
    padding-left: rem(30);
    padding-right: rem(30);
    .center{
      flex: 1 1 auto;
      margin-top: rem(10);
      text-align: center;
      font-size: rem(24);
      font-weight: bold;
    }
    .subfix{
      margin-top:rem(16);
      font-size: rem(16);
    }
  }
}