
@charset 'utf-8';
.search-form{
  background-color: #f8f8f8;
}
.header-form{
  width: 100%;
  max-width: rem(1600);
  margin: auto;
  display: flex;
  text-align: center;
  padding-left:rem(30);
  padding-right:rem(30);
  .search{
    position: relative;
    width: 100%;
    padding: rem(20);
    font-weight: 400;
    input[type="text"]{
      height: rem(26);
      border: $table-bottom;
      text-align: center;
      padding: 0;
    }
    .user-search{
      width: rem(90);
      margin-right: rem(27);
    }
    button{
      position: absolute;
      top: rem(18);

      background-color:#f8f8f8;
      width: rem(57);
      height: rem(27);
      .search-icon{
        &:after{
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-image: url(../img/icon_serach.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
          width: 100%;
          height: 100%;
        }
      }
    }
    .phone-search{
      width:rem(60);
      margin-right: rem(10);
    }
    .phone-button{
      left: rem(700);
    }
  }
}