
.icon-wrap{
  display: flex;
  [class*="icon_"]{
    margin-left: rem(17);
    background-repeat: no-repeat;
  }
  .icon_signature{
    background-image: url(../img/icon_signature.png);
    width: rem(18);
    height:rem(20);
  }
  .icon_vip{
    background-image: url(../img/icon_vip.png);
    width: rem(24);
    height: rem(24);
  }
  .icon_membership{
    background-image: url(../img/icon_membership.png);
    width: rem(32);
    height: rem(20);
  }
}
.icon_close{
  background-image: url(../img/icon_close.png);
  width: rem(11);
  height: rem(11);
  background-size: cover;
}
.icon_left_arrow{
  background-image: url(../img/icon_left_arrow.png);
  width: rem(13);
  height: rem(16);
  &:hover{
    background-image: url(../img/arrow_hover.png);
  }
}
.icon_right_arrow{
  background-image: url(../img/icon_right_arrow.png);
  width: rem(13);
  height: rem(16);
  &:hover{
    background-image: url(../img/right_arrow_hover.png);
  }
}

.icon_help{
  display: inline-block;
  background-image: url(../img/icon_help.png);
  width:rem(30);
  height: rem(20);
}