input [type="radio"]{
  appearance: none;
}
input[type="text"],
textarea{
  border: rem(1) solid black;
  background-color: $fc-white;
  padding-left: rem(5);
  color: $secondary-btn;    
  height: 1.875rem;
  &.sm{
    width: rem(120);
  }
}
textarea{
  padding: rem(5);
  overflow-x: hidden;
}
