@charset 'utf-8';
body, html{
  margin: 0;
  padding: 0;
}
body{
  -webkit-text-size-adjust : none;
  *{
    box-sizing: border-box;
    font-weight: 300;
  }
}
ul,ol,li, dl, dt, dd{
  margin:0;
  padding:0;
  list-style: none;
}
a{
  text-decoration: none;
  color: #333 ;
  &:hover{
    text-decoration: none;
  }
}
input, select, textarea, fieldset, button{
  outline: none;
  margin: 0;
  padding: 0;
  width: auto;
  min-width: auto;
  border: 0;
  cursor: pointer;
}
table{
  border-collapse: collapse;
}
em{
  font-style: normal;
}
textarea{
  resize: none;
}
.hidden{
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
img{
  width: 100%;
}