.state-tag{
  ul{
    display: flex;
    li{
      background-image: url(../img/state.png);
      background-repeat: no-repeat;
      flex:1 1 25%;
      height: rem(60);
      margin-top: vw(10);
      padding-top: vw(6);
      text-align: center;
      background-size: contain;
      &.on{
        color: $fc-white;
        background-image:url(../img/state_on.png);
      }
      >div{
        font-size: rem(14);
      }
      >span{
        font-size: rem(12);
      }
      &:last-child{
        padding-top: vw(10);
      }
    }
  }
}