.tab-banner{
  .item{
    a{
      font-weight:600;
    }
    &.current{
      background-color: #A50034;
      a{
        color: $fc-white;
      }
    }
  }
}
.tab-content{
  display: none;
  &.current{
    display: block;
  }
}
.nav-banner{
  display: flex;
  margin:rem(15) rem(30);
  li{
    a{
      display: inline-block;
      border: rem(1) solid $tab-border;
      padding: rem(11) rem(47) ;
    }
  }
}
