  @import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700&display=swap");
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
  body {
    font-family: 'Noto Sans Korean', sans-serif;
  }
  
  textarea {
    width: 100%;
    height: 150px;
    border: none;
    resize: none;
    border-radius: 4px;
    background: #e6e7ef;
    padding: 5px 10px;
    box-sizing: border-box;
  }
  
  input[type=text],
  input[type=password] {
    line-height: 33px;
    font-size: 16px;
    border: 1px solid gray;
    letter-spacing: -0.03em;
    text-indent: 15px;
    background-color: #fff;
  }
  /* amdin-client-info*/
  
  .info-section {
    width: 1200px;
    position: relative;
    margin: auto;
    padding-top: 140px;
    margin-top: 55px;
  }
  
  .info-section .info_tb {
    width: 1200px;
    margin: auto;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
  }
  
  .info-section .info_tb th {
    background-color: cadetblue;
    width: 25px;
    height: 25px;
    border: 1px solid gray;
    border-left: none;
    color: white;
  }
  
  .info-section .info_tb td {
    width: 75px;
    padding: 10px 15px;
    border: 1px solid gray;
    border-left: none;
    border-right: none;
  }
  
  .info-section .consent {
    width: 1200px;
    margin: 0 auto;
    margin-top: 35px;
  }
  
  .info-section .consent .sms-consent {
    float: right;
    margin-bottom: 30px;
  }
  
  .info-section .consent .email-consent {
    display: flex;
  }
  
  .sms-consent .consent-text {
    margin-right: 38px;
  }
  
  .consent-text {
    font-weight: bold;
    margin-top: 5px;
    margin-right: 25px;
  }
  
  .consent-radiobox {
    margin-right: 25px;
    margin-top: 5px;
  }
  
  .consent-btn {
    background-color: gray;
    margin-right: 25px;
    border-radius: 3px;
  }
  
  .consent-btn button {
    color: white;
    width: 125px;
    text-align: center;
    padding: 5px 5px;
  }
  
  .info-list {
    width: 1200px;
    margin: auto;
    margin-top: 55px;
  }
  
  .list-amount {
    float: left;
  }
  
  .list-header {
    background-color: cadetblue;
    color: white;
    font-weight: bold;
  }
  
  .list-amount ul {
    display: flex;
  }
  
  .list-amount ul li {
    text-align: center;
    display: inline-block;
    width: 180px;
    border-bottom: 1px solid gray;
    padding: 10px 0px;
  }
  
  .list-amount .list-header {
    border-top: 1px solid gray;
    border-bottom: none;
  }
  
  .state-list {
    float: right;
  }
  
  .state-list ul {
    display: flex;
  }
  
  .state-list ul li {
    text-align: center;
    display: inline-block;
    width: 180px;
    padding: 10px 0px;
    border-bottom: 1px solid gray;
  }
  
  .state-list .list-header {
    border-top: 1px solid gray;
    border-bottom: none;
  }
  
  .amount-link {
    float: right;
  }
  
  .input-text {
    position: relative;
  }
  
  .input-text .chk-wrap {
    position: absolute;
    right: 0;
    top: 15px;
  }
  /* amdin-client-info-p2*/
  
  .modal-wrap.is-visible {
    visibility: visible;
    opacity: 1;
  }
  
  .modal-wrap {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2000;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    transition: all 0.3s;
  }
  
  .modal-wrap .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 31.25rem;
    min-height: 20.625rem;
    max-width: 90vw;
    max-height: 90vh;
    padding: 3.125rem;
    box-sizing: border-box;
    background: #fff;
    border-radius: 0.25rem;
    overflow-y: auto;
  }
  
  .modal-wrap .modal .title {
    font-size: 1.25rem;
    font-weight: 500;
    color: #490097;
    border-bottom: 0.0625rem solid #d5d5d5;
    margin: -1.25rem -3.125rem 0;
    padding: 0rem 1.875rem 1.5625rem;
    text-align: center;
  }
  
  .icon-x {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    text-indent: -9999px;
  }
  
  .modal-wrap .modal .con .btn {
    width: 100%;
  }
  
  .btn.btn-primary {
    color: black;
    border: 1px solid black;
  }
  
  .btn.btn-round {
    border-radius: 1.875rem;
    overflow: hidden;
  }
  
  .btn.btn-default {
    width: 18.125rem;
    padding: 1.25rem 0;
    font-size: 1.25rem;
    font-weight: 500;
  }
  
  .btn {
    display: inline-block;
    text-align: center;
  }
  
  .reset-btn {
    background-color: white;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    padding: 5px 5px;
    margin-top: 15px;
  }
  
  .get-info {
    text-align: center;
    background-color: white;
    border: 1px solid gray;
    margin-top: 15px;
  }
  
  .info-text {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .info-text .user-info {
    padding-right: 15px;
  }
  
  .info-text .user-info input {
    background-color: unset;
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    width: 100px;
    text-align: center;
  }
  
  .info-text .phone-info input {
    background-color: unset;
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    width: 280px;
    text-align: center;
  }
  
  [class*="icon-"] {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  
  .modal textarea {
    border: 1px solid #d5d5d5;
    margin-top: 15px;
    height: 300px;
    background-color: snow;
  }
  /*admin-client-info-p3*/
  
  .input-text {
    border: 1px solid #d5d5d5;
    box-sizing: border-box;
    width: 330px;
    display: inline-block;
  }
  
  .input-text input[type="password"] {
    width: 100%;
    background-color: unset;
    display: flex;
    background-color: snow;
  }
  
  .input-header {
    width: 100px;
    display: inline-block;
  }
  
  .password-dress {
    margin-top: 15px;
  }
  
  .pw-btn {
    margin-top: 55px;
    text-align: center;
  }
  
  .pw-btn button {
    border: 1px solid #d5d5d5;
    border-radius: 5px;
  }
  
  .pw-btn .pw-reset {
    padding: 10px 50px;
    margin-left: 25px;
  }
  
  .pw-btn .pw-success {
    padding: 10px 50px;
  }
  /*admin-mail*/
  
  .mail-tbl {
    width: 1200px;
    margin: auto;
    margin-top: 55px;
    padding-top: 140px;
    position: relative;
  }
  
  .contentsWrap article .idea h2 {
    font-weight: 400;
    margin-bottom: 15px;
    text-align: left;
    color: #333;
  }
  
  .idea .termSection {
    margin-bottom: 30px;
    display: none;
  }
  
  .idea .termSection .term textarea {
    margin-top: 0
  }
  
  .ideaTop {
    margin-bottom: 30px;
    border: 1px solid #e0e0e0;
    border-top: 0
  }
  
  .ideaTop a {
    display: block;
  }
  
  .ideaTop ol {
    width: 770px;
    padding: 30px 69px;
  }
  
  .ideaTop li {
    position: relative;
    display: inline-block;
    width: 100px;
    text-align: center;
  }
  
  .ideaTop li:before {
    display: block;
    content: '';
    width: 70px;
    height: 70px;
    margin: 0 auto 20px;
    background: url(../images/img/img-idea1.gif) no-repeat center top
  }
  
  .ideaTop .step2,
  .ideaTop .step3,
  .ideaTop .step4 {
    padding-left: 118px;
  }
  
  .ideaTop .step2:before {
    background-image: url(../images/img/img-idea2.gif)
  }
  
  .ideaTop .step3:before {
    background-image: url(../images/img/img-idea3.gif)
  }
  
  .ideaTop .step4:before {
    background-image: url(../images/img/img-idea4.gif)
  }
  
  .ideaTop li:after {
    position: absolute;
    top: 35px;
    right: -80px;
    display: block;
    content: '';
    width: 38px;
    height: 38px;
    background: url(../images/bg/bg-idea.gif) no-repeat center top
  }
  
  .ideaTop .step4:after {
    display: none
  }
  
  .ideaTop p {
    width: 888px;
    padding: 10px;
    text-align: center;
    color: #666;
    font-weight: 300;
    font-size: 14px;
    background-color: #fafafa
  }
  
  .ideaTop p em {
    font-weight: 400
  }
  
  .ideaBottom {
    margin-top: 30px;
    text-align: center;
  }
  
  .ideaBottom a {
    display: inline-block;
    width: 224px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #fff;
    background-color: #0061a9;
  }
  
  .ideaBottom a:after {
    display: inline-block;
    content: '';
    width: 8px;
    height: 12px;
    margin-left: 10px;
    background: url(../images/bg/bg-bul3.png) no-repeat center top
  }
  
  .ideaBottom p {
    font-size: 14px;
    font-weight: 300;
  }
  
  .ideaBottom p.noti {
    margin-top: 10px;
    color: #999;
  }
  /* Form */
  
  .formStyle {
    margin-bottom: 30px;
    border-top: 2px solid gray;
    width: 100%;
  }
  
  .formStyle th {
    vertical-align: middle;
    padding: 20px;
    text-align: left;
    font-size: 18px;
    border-bottom: 1px solid gray
  }
  
  .formStyle tr .top {
    vertical-align: top;
  }
  
  .formStyle td {
    padding: 20px;
    border-bottom: 1px solid gray
  }
  
  .formStyle.view th {
    background-color: #fafafa
  }
  
  .formStyle.view td {
    text-align: left;
    line-height: 1.6em
  }
  
  .star {
    margin-right: 3px;
    color: #ff0000;
    vertical-align: -5px;
  }
  
  .formStyle .noti {
    display: inline-block;
    font-size: 14px;
    margin-left: 10px
  }
  
  .tableTop {
    position: relative;
    margin-bottom: 40px;
  }
  
  .tableTop .description {
    text-align: left!important;
    margin-bottom: 0;
  }
  
  .tableTop>span {
    position: absolute;
    top: 0;
    right: 0
  }
  
  .selectWrap {
    position: relative;
    display: inline-block;
    width: 130px;
    height: 33px;
    border: 1px solid #e0e0e0;
    vertical-align: middle;
    background: #fff url(../images/bg/bg-select.gif) 92% center no-repeat;
  }
  
  .selectWrap .label {
    position: absolute;
    color: #999;
    top: 50%;
    left: 15px;
    margin-top: -7px
  }
  
  .selectWrap select {
    width: 100%;
    min-height: 33px;
    line-height: 33px;
    padding: 0 15px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  
  .birthWrap label {
    margin-right: 12px
  }
  
  .addFileList li {
    margin-top: 10px;
  }
  
  .addFileList li:first-child {
    margin-top: 0;
  }
  
  .jquery-filestyle label span {
    display: inline-block;
    width: 100px;
    height: 34px;
    margin: 0 7px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    background-color: #626365
  }
  
  .btnAdd {
    margin-right: 6px;
  }
  
  .btnAdd,
  .btnDel {
    position: relative;
    width: 34px;
    height: 34px;
  }
  
  .btnAdd .ir {
    width: 34px;
    height: 34px;
    background: url(../images/bg/bg-btn-add.gif) no-repeat
  }
  
  .btnDel .ir {
    width: 34px;
    height: 34px;
    background: url(../images/bg/bg-btn-delete.gif) no-repeat
  }
  
  .btnFileDown {
    display: inline-block;
    margin-right: 20px;
  }
  
  .btnFileDown img {
    margin: 0 5px 0 0;
    vertical-align: -2px;
  }
  
  .checkWrapList li {
    margin-top: 10px
  }
  
  .checkWrapList li:first-child {
    margin-top: 0
  }
  
  .checkWrap {
    position: relative;
    display: inline-block;
    margin-right: 15px;
  }
  
  .checkWrap.mg {
    margin-right: 0;
  }
  
  .checkWrap input {
    width: 20px;
    height: 20px;
    opacity: 0
  }
  
  .checkWrap label {
    margin-left: -20px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 300
  }
  
  .checkWrap label:before {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: -3px;
    overflow: hidden;
    content: '';
    display: inline-block;
    background: url(../images/bg/bg-check.png) no-repeat -30px 0
  }
  
  .checkWrap input[type=checkbox]:checked+label:before {
    background-position: -30px -20px
  }
  
  .checkWrap input[type=radio]+label:before {
    background-position: -50px 0
  }
  
  .checkWrap input[type=radio]:checked+label:before {
    background-position: -50px -20px
  }
  
  .checkWrap.big input {
    width: 24px;
    height: 24px;
  }
  
  .checkWrap.big label {
    margin-left: -30px;
  }
  
  .checkWrap.big label:before {
    width: 24px;
    height: 24px;
    vertical-align: -5px;
    background-position: 0 0;
  }
  
  .checkWrap.big input:checked+label:before {
    background-position: 0 -24px
  }
  
  .addr>div {
    margin-top: 10px;
  }
  
  .addr>div:first-child {
    margin-top: 0;
  }
  /* button */
  
  .btnSection {
    text-align: center;
    float: right;
  }
  
  .btnSection.right {
    text-align: right
  }
  
  .btnSection .btn {
    display: inline-block;
    padding: 10px 0;
    width: 110px;
    margin: 0 5px;
    text-align: center;
    border: 0;
    color: #fff;
    background-color: gray;
    text-align: center;
    border-radius: 3px;
  }
  
  .btnSection .btn.gray {
    background-color: #626365
  }
  
  .btnSection .btnL {
    display: inline-block;
    width: 224px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #fff;
    background-color: #0061a9;
  }
  
  .btnSection .btnL:after {
    display: inline-block;
    content: '';
    width: 8px;
    height: 12px;
    margin-left: 10px;
    background: url(../images/bg/bg-bul3.png) no-repeat center top
  }
  
  .btnChk,
  .btnZip,
  .btnSubmit,
  .goMain {
    display: inline-block;
    width: 100px;
    height: 35px;
    line-height: 35px;
    margin: 0 10px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: #626365
  }
  
  .btnFind,
  .btnSubmit,
  .goLogin,
  .btnUse {
    display: inline-block;
    border: 0;
    height: 35px;
    line-height: 35px;
    width: 110px;
    color: #fff;
    text-align: center;
    background-color: #0060a9
  }
  /*amdin-purchase-list*/
  
  .list-section {
    width: 1200px;
    margin: auto;
    padding-top: 140px;
    position: relative;
    margin-top: 55px;
  }
  
  .purchase-list-header {
    width: 1200px;
    margin: auto;
    text-align: right;
  }
  
  .purchase-list-header input[type="radio"] {
    -webkit-appearance: radio;
    -o-appearance: radio;
    -ms-appearance: radio;
    appearance: radio;
  }
  
  .purchase-list-header .find-btn {
    background-color: gray;
    color: white;
    padding: 4px 20px;
    border: 1px solid black;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  .purchase-list-header select {
    margin-left: 45px;
  }
  
  .info-table-list {
    width: 1200px;
    margin: auto;
    margin-top: 55px;
  }
  
  .info-table-list .table-list-ul {
    display: flex;
  }
  
  .info-table-list .table-list-ul:first-child li {
    background-color: cadetblue;
    color: white;
  }
  
  .info-table-list .table-list-ul li:nth-child(6) {
    width: 200px;
  }
  
  .info-table-list .table-list-ul li {
    flex: 1 1 auto;
    width: 100px;
    padding: 10px 10px;
    border: 1px solid gray;
    text-align: center;
  }
  
  .detail-talbe {
    width: 1200px;
    margin: 0 auto;
  }
  
  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
  }
  
  .detail-talbe tr td,
  .detail-talbe tr th {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    padding: 10px 10px;
    border-collapse: collapse;
  }
  
  .detail-talbe tr th:first-child {
    border-left: none;
  }
  
  .detail-talbe tr:first-child th,
  .detail-talbe tr:first-child td {
    border-top: 1px solid gray;
  }
  
  .detail-list {
    width: 1200px;
    margin: auto;
    margin-top: 55px;
  }
  
  .detail-list ul {
    display: flex;
  }
  
  .detail-list ul li {
    flex: 1 1 auto;
    text-align: center;
    border-bottom: 1px solid black;
    border-collapse: collapse;
    width: 200px;
    padding: 15px 5px;
    vertical-align: middle;
  }
  
  .detail-list ul:first-child li {
    border-top: 1px solid black;
    background-color: cadetblue;
    color: white;
  }
  
  .detail-list input[type="checkbox"] {
    display: none;
  }
  /*admin-purchase-biglist*/
  
  .info-table-list .table-list-ul .amount {
    width: 200px;
  }
  /*admin-purchase-details-p2*/
  
  .memo-form {
    width: 1200px;
    margin: auto;
    margin-top: 55px;
  }
  
  .gray-btn {
    background-color: gray;
    border-radius: 3px;
    color: white;
    padding: 10px 20px;
    display: inline-block;
  }
  
  .save-btn {
    float: right;
    margin-top: 25px;
  }
  
  .memo-header {
    text-align: center;
    padding: 15px 0;
    border: solid 1px gray;
    margin-bottom: 25px;
  }
  
  .memo-form textarea {
    height: 200px;
    background-color: floralwhite;
    border: 1px solid gray;
  }
  /*-admin-grant-list*/
  
  .grant-list {
    width: 1200px;
    margin: auto;
    padding-top: 150px;
    margin-top: 55px;
    position: relative;
  }
  
  .grant-list .user-list {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 35px;
  }
  
  .grant-list .user-list ul {
    display: flex;
    position: relative;
  }
  
  .grant-list .user-list ul li {
    flex: 1 1 auto;
    width: 100px;
    text-align: center;
    border-top: 1px solid gray;
    padding: 10px 10px;
  }
  
  .grant-list .user-list ul:last-child li {
    border-bottom: 1px solid gray;
  }
  
  .grant-list .user-list ul li:nth-child(3) {
    width: 300px;
    text-align: left;
  }
  
  .grant-list .user-list ul li a {
    background-color: gray;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0px 30px;
    color: white;
  }
  
  .grant-list .grant-btn {
    text-align: right;
    padding-right: 100px;
    margin-bottom: 55px;
  }
  
  .grant-list .grant-btn .add-grant {
    background-color: gray;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px 30px;
    color: white;
  }
  /*admin-grant-list-p2*/
  
  .enter-date-list {
    width: 1200px;
    margin: auto;
  }
  
  .enter-date-list ul {
    vertical-align: middle;
    display: flex;
    border: 1px solid gray;
    border-left: none;
    border-right: none;
  }
  
  .enter-date-list ul li {
    flex: 1 1 auto;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    padding: 10px 10px;
  }
  
  .enter-date-list ul li input {
    background-color: snow;
    border: 1px solid gray;
    vertical-align: middle;
  }
  
  .grant-check-list {
    width: 1200px;
    margin: auto;
    margin-top: 55px;
  }
  
  .grant-check-list ul {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }
  
  .grant-check-list ul li {
    padding-bottom: 35px;
    font-size: 20px;
  }
  
  .grant-check-list ul li input {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #bcbcbc;
    cursor: pointer;
    margin-right: 25px;
    -webkit-appearance: checkbox;
    -o-apperance: checkbox;
    -moz-appearance: checkbox;
    -ms-appearance: checkbox;
    appearance: checkbox;
  }
  
  .grant-btn {
    width: 1200px;
    margin: auto;
    margin-top: 55px;
  }
  
  .grant-btn a {
    color: white;
  }
  
  .grant-btn .gray-btn {
    margin-left: 30px;
  }
  
  .contWarp {
    margin-top: 55px;
    position: relative;
  }
  
  .left h1 {
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Noto Sans Korean', sans-serif;
  }
  
  .conditionSearch dl dt,
  .conditionSearch dl dd {
    padding: 8px 25px;
  }
  
  .conditionSearch .conditions {
    font-size: 14px;
  }
  
  .conditionSearch .conditions input[type="radio"] {
    appearance: radio;
    -webkit-appearance: radio;
    -moz-appearance: radio;
    -moz-appearance: radio;
  }
  
  .icon-chk {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../../images/front/icon_chk.png);
    background-position: 0 0;
    background-size: 3rem;
    background-color: #cccccc;
    border-radius: 100%;
    vertical-align: middle;
  }
  
  .btn-line-inner {
    border: 1px solid gray;
    background-color: cadetblue;
    color: white;
  }
  
  .breadcrumbs {
    position: absolute;
    top: 80px;
    right: 0;
  }
  
  .breadcrumbs a,
  .breadcrumbs span {
    font-size: 13px;
    color: #333;
    vertical-align: middle
  }
  
  .breadcrumbs a,
  .breadcrumbs span {
    padding-right: 18px;
    margin-right: 10px;
    background: url(../../images/front/bg_breadcrumbs.png) no-repeat right center
  }
  
  .breadcrumbs span:last-child {
    background: unset;
    padding-right: unset;
    margin-right: unset;
  }
  
  .breadcrumbs .home:before {
    display: inline-block;
    content: '';
    width: 14px;
    height: 13px;
    margin-top: 2px;
    background: url(../../images/front/ico_home.png) no-repeat center
  }
  
  .breadcrumbs .home span {
    font-size: 0;
    text-indent: -9999em
  }
  
  .now {
    visibility: visible;
    opacity: 1;
    color: black;
  }
  /*wartime.html*/
  
  .wa-title {
    text-align: center;
    font-size: 25pt;
  }
  
  .banner-btns {
    text-align: center;
    margin-top: 155px;
  }
  
  .pc-btn {
    width: 30%;
    text-align: center;
    height: 100px;
    font-size: 4rem;
    border-radius: 5px;
    margin-right: 4rem;
  }
  
  .mobile-btn {
    width: 30%;
    text-align: center;
    height: 100px;
    font-size: 4rem;
    border-radius: 5px;
  }
  
  .left-banner {
    float: left;
    width: 45%;
  }
  
  .left-banner input[type="checkbox"] {
    -webkit-appearance: checkbox;
    -o-apperance: checkbox;
    -moz-appearance: checkbox;
    -ms-appearance: checkbox;
    appearance: checkbox;
  }
  
  .left-banner tr th {
    padding: 14px 0;
    border-bottom: 1px solid #d9d9d9;
  }
  
  .right-banner tr td,
  .right-banner tr th {
    border-bottom: 1px solid #d9d9d9;
    padding: 10px 0;
  }
  
  .right-banner {
    float: right;
    width: 45%;
    border-bottom: 1px solid #d9d9d9;
  }
  
  .right-banner input[type="file"] {
    letter-spacing: -0.025em;
    -webkit-appearance: initial;
    cursor: default;
    align-items: baseline;
    color: inherit;
    text-align: start !important;
    display: flex;
    width: 100%;
  }
  
  .right-banner input[type="text"],
  .right-banner input[type="url"] {
    width: 100%;
    background-color: #e6e7ef;
    border: unset;
  }
  
  .right-banner input[type="radio"] {
    vertical-align: middle;
    margin-left: 25px;
  }
  
  .wa-btns {
    display: block;
    float: right;
    margin-top: 2rem;
  }
  
  .wa-btn {
    padding: 10px 25px;
    margin: 0 5px;
  }
  
  .modal-wrap .modal .left {
    text-align: left;
    padding-left: 5rem;
  }
  
  .info-header h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .next-img {
    position: absolute;
    left: 49%;
    top: 35%;
  }