.accordion {
  color: #000000;
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
  text-align: left;
  outline: none;
  transition: 0.4s;
  margin-top: rem(24);
  .title{
    background-color: #f8f8f8;
    border-top: 1px solid #000000;
  }
}
.panel {
  padding: 0 rem(21);
  display: none;
  background-color: white;
  overflow: hidden;
  padding-top: rem(12);
  transition: all .3s ease;  
  &.none-pad{
    padding: 0;
  }
}