.btn{
  padding:rem(4) rem(37);
  font-size: rem(26);  
  color: $fc-white;
  border-radius: rem(6);
  font-family: 'LG Smart Bold Italic';
  &.primary-btn{
    background-color:$primary-btn;
    &:hover{
      background-color: #cc0041;
    }
  }
  &.secondary-btn{
    background-color: $secondary-btn;
    &:hover{
      background-color: #4d4d4d;
    }
  }
  &.center-btn{
    color: $fc-white;
    text-align: center;
  }
  &.black-third-btn{
    background-color: $bg-header;
    color: $fc-white;
    border: 1px solid $fc-white;
    &:hover{
      background-color: $fc-white;
      color:$fc-black; 
    }
  }
  &.white-third-btn{
    border: 1px solid $white-thrid-btn-border;
    color: #6b6b6b;
    &:hover{
      background-color: none;
      border: 1px solid $fc-black;
      color: $fc-black;
    }
  }
  &.sm{
    padding: rem(2) rem(10);
  }
  &.block-btn{
    display: block;
  }
  &.la{
    padding: rem(16) rem(50);
  }
  &.header-btn{
    padding: rem(16) rem(35);
  }
}
.btn-group{
  text-align: center;
}
