.content-wrap{
  width: 100%;
  .accordion{
    .title{
      font-size: rem(28);
      font-weight: 600 ;
      padding: rem(22) rem(13);
      position: relative;
      &:after{
        content: '';
        position: absolute;
        top: rem(31);
        right: rem(21);
        width: rem(22);
        height: rem(4);
        background-color: #000000;
        border-radius: rem(2);
        transition: all .3s ease;       
      }
      &:before{
        content: '';
        position: absolute;
        top: rem(31);
        right: rem(21);
        width: rem(22);
        height: rem(4);
        background-color: #000000;
        border-radius: rem(2);
        transition: all .3s ease;  
        transform: rotate(90deg);  
        transform: rotate(180deg);   
      }
    }
    &.active{
      .title{
        &:before{
          transform: rotate(90deg); 
          transition: all .3s ease;
        }
      }
    }
  }
  &.list-type{
    ul{
      &.flex-wrap{
        display: flex;
        li{
          &.main-title{
            padding:0
          }
          &.sub-info{
            flex: 1 1 70%;
          }
        }
      }
      >li{
        position: relative;
        padding-left: rem(10);
        margin-bottom: rem(15);
        font-size:rem(28);
        &:after{
          content: '';
          position: absolute;
          top:rem(10);
          left:0;
          width:rem(5);
          height: rem(5);
          background-color: $fc-black;
        }
        .load-name{
          text-indent:rem(60) ;
        }
        .rank{
          margin-top: rem(10);
          margin-right: rem(15);
        }
        &.icon-wrap{
          span{
            &:first-child{
              padding-top:rem(10);
              padding-right: rem(15);
              &:after{
                top:rem(20);
              }
            }
          }
        }
        &.icon-wrap{
          &:last-child{
            &:after{
              top:rem(20);
            }
          }
        }
        &.none-dot{
          &:after{
            display: none;
          }
        }
      }
      &.flex-list{
        display: flex;
        >li{
          flex: 1 1 auto;
        }
      }
      &.flex-colum{
      display: inline-flex;
      flex-direction: column;
      }
    }
  }
  &.table-type{
    .panel{
      padding-left: 0;
      padding-right: 0;
    }
    .table-title{
      position: relative;
      font-size: rem(14);
      padding-left: rem(30);
      padding-top: rem(15);
      padding-bottom: rem(5);
      &:after{
        content: '';
        position: absolute;
        bottom: rem(14);
        left: rem(10);
        width:rem(3);
        height: rem(3);
        background-color:$fc-black;
      }
    }
    .table{
      width: 100%;
      font-size: rem(14);
      thead{
        tr{
          background-color: $table-header-bg;
          th{
            border-bottom: $table-bottom;
            border-top: $table-bottom;
          }
        }
      }
      tbody{
        tr{
          td{
            text-align: center;
            vertical-align: middle;
            color: #6b6b6b;
            border-bottom: $table-bottom;
            font-size: rem(12);

            .radio-wrap{
              input[type="radio"]{
                display: none;
              }
              .icon-radio{
                width: rem(20);
                height: rem(20);
                background-image: url(../img/icon_radio.png);
                display: flex;
                margin: auto;
              }
              input:checked+ .icon-radio{
                background-image: url(../img/icon_ch_radio.png);
              }
            }
          }
        }
      }
    }
    &.table-pad{
      tr{
        td,th{
          padding: rem(10) 0;
        }
      }
    }
    &.table-la-pad{
      tr{
        td,
        th{
          padding: rem(20) 0 ;
        }
      }
    }
  }
  &.double-list{
    display: flex;
    border-bottom:rem(2) solid #dee2e6;
    padding-bottom:rem(26) ;
  }
  &.inline-list{
    display: -webkit-box;
    padding-bottom:rem(26) ;
    margin-top: rem(20);
    .sub-list{
      margin-left: -#{vw(60)};
    }
  }
  &.last-list{
    display: flex;
    padding-top:rem(30);
    border-bottom: none;
  }
  .half-flex{
    flex: 1 1 50%;
  }
}