@charset 'utf-8';

.modal-wrap {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  transition: all 0.3s;
  &.is-visible {
    visibility: visible;
    opacity: 1;
  }
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: rem(630);
    width: 100%;
    max-height: 90vh;
    padding: rem(50) 0;
    box-sizing: border-box;
    background: #fff;
    border-radius: rem(4);
    overflow-y: auto;
    .title{
      text-align: center;
      border-bottom: 1px solid $fc-black;
      margin: auto;
      padding-bottom: rem(20);
      font-weight:bold;
    }
    .custom-ui{
      display: flex;
      font-size: rem(24);
      margin:rem(20);
      padding-top: rem(20);
      border-top: 1px solid $fc-black;
      border:$table-bottom ;
      .left{
        position: relative;
        flex: 1 1 50%;
        text-align: center;
        border-right:$table-bottom ;
        .ui-list{
          li{
            padding: rem(10) 0;
            margin: 0 rem(40);
            &.active{
              background-color:$primary;
              a{
                color: $fc-white;
              }
            }
          }
        }
      }
      .right{
        flex:1 1 50%;
        margin:0 rem(20);
        height: rem(340);
        overflow-y: scroll;
        .move-box{
          position: relative;
          margin-bottom: rem(7);
          border: 1px solid $fc-black;
          background-color: $fc-white;
          padding: rem(5) rem(10);
          border-radius: rem(3);
          word-break: break-all;
          padding-right:rem(42);
          &.fixed-box{
            color: $fc-white;
            background-color: #4d4d4d;
          } 
          .icon_close{
            position: absolute;
            right: rem(20);
            top:32%;
            transform: translateY(-14%);
          }

        }
      }
    }
    .right-arrow{
      position: absolute;
      right: rem(10);
      top: 50%;
      a{
        .icon_right_arrow{
          display: inline-block;
          background-repeat: no-repeat;
        }
      }
    }
    .close-btn{
      position: absolute;
      right: rem(50);
      top: rem(50);
      >img{
        width: rem(34);
        border: none;
        object-fit: contain;
      }
    }
    .content{
      background-color:$table-header-bg ;
      margin: rem(30);
      padding: rem(15) rem(20);
      font-size: rem(28);
      .list-type{
        display: flex;
        justify-content: space-around;
        ul{
          li{
            margin-bottom: rem(28);
            label{
              display: inline-block;
              width: rem(240);
              padding-right: rem(20);
            }
          }
        }
      }
      .wide-type{
        margin: rem(7) 0;
        label{
          width: rem(220);
          display: inline-block;
        }
        input{
          width: 100%;
        }
      }
      .auto-flex-list{
        ul{
          display: flex;
          flex-direction: column;
          li{
            margin: rem(15) 0;
            height: rem(50);
            span{
              font-weight: bold;
              ul{
                display: flex;
              }
            }
            span{
              @include modal-lable;
              &.two-line{
                height: rem(80);
                vertical-align: -webkit-baseline-middle;
              }
            }
          }
          &.row-flex{
            flex-direction: row;
          }
        }
      }
      .auto-height{
        height: auto !important;
        &.fixed-height{
          height: rem(325) !important;
        }
      }
      .one-list{
        ul{
          display: flex;
          li{
            margin: rem(15) 0;
            height: rem(50);
            span{
              @include modal-lable;
            }
            &.btn-align{
              text-align: right;
              .btn{
                margin-top: rem(10);
                margin-right: rem(6);
                padding: rem(18);
                display: inline-block;
              }
            }
          }
          &.manager-list{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            li{
              &:nth-child(2){
                flex: 1 1 auto;
              }
              ul{
                display: flex;
              }
              .btn{
                padding: rem(18);
              }
            }
          }
        }
        &.area-list{
          label{
            margin-bottom: rem(20);
          }
          textarea{
            width: 99%;
            height: rem(300);
            border: 1px solid #000000;
          }
        }
        .none-margin-list{
          li{
            margin-top: 0;
          }
        }
      }
      .text-list{
        ul{
          display: flex;
          li{
            &:first-child{
              margin-left: rem(10);
              @include modal-lable;
            }
          }
        }
      }
      .flex-column{
        flex-direction: column;
        &.none-margin-list{
          li{
            margin-top: 0;
          }
        }
      }
      .link-list{
        ul{
          li{
            margin:rem(30) 0;
            &:nth-child(2){
              flex: 1 1 auto;
            }
            .btn{
              padding: rem(18);
            }
          }
        }
      }
      .sm-label{
        ul{
          li{
            label{
              width: rem(120);
            }
          }
        }
      }
    }
  }
}
