
@charset 'utf-8';
.search-form{
  background-color: #f8f8f8;
}
.header-form{
  width: 100%;
  max-width: rem(1600);
  margin: auto;
  display: flex;
  padding:  0 1rem;
  .search{
    position: relative;
    width: 100%;
    padding: rem(20) 0;
    font-size: rem(28);
    font-weight: 400;
    text-align: center;
    padding-right: rem(58);
    input[type="text"]{
      height: rem(52);
      border: $table-bottom;
      text-align: center;
      padding: 0;
    }
    .user-search{
      width: calc(100% - 84%);
      margin-right: rem(20);
    }
    button{
      position: absolute;
      top: rem(40);
      background-color:#f8f8f8;
      width: rem(66);
      height: rem(56);
      .search-icon{
        &:after{
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-image: url(../img/icon_serach.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
          width: 100%;
          height: 100%;
        }
      }
    }
    .phone-search{
      width: calc(100% - 88%);
    }
    .phone-button{
      left: rem(700);
    }
  }
}