header{
  width: 100%;
  height: rem(100);
  background-color: $bg-header;
  .header{
    display: flex;
    color: white;
    padding-top: rem(24);
    margin: auto;
    padding-left: rem(30);
    padding-right: rem(30);
    .prefix{
      width: rem(120);
    }
    .center{
      flex: 1 1 auto;
      text-align: center;
      font-size: rem(36);
      font-weight: bold;
      margin-top: rem(10);
    }
    .subfix{
      margin-top:rem(16);
      font-size: rem(22);
    }
  }
}