
.icon-wrap{
  display: flex;
  [class*="icon_"]{
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: rem(6);
  }
  .icon_signature{
    background-image: url(../img/icon_signature.png);
    width: rem(33);
    height:rem(35);
  }
  .icon_vip{
    background-image: url(../img/icon_vip.png);
    width: rem(44);
    height:rem(38);
  }
  .icon_membership{
    background-image: url(../img/icon_membership.png);
    width: rem(66);
    height:rem(35);
  }
}
.icon_close{
  background-image: url(../img/icon_close.png);
  width: rem(22);
  height: rem(22);
  background-size: cover;
}
.icon_right_arrow{
  background-image: url(../img/icon_right_arrow.png);
  width: rem(28);
  height: rem(30);
  &:hover{
    background-image: url(../img/right_arrow_hover.png);
  }
}