.nav-banner{
  position: relative;
  .item{
    padding: rem(22) rem(10);
    border: rem(1) solid #dee2e6;
    border-left: none;
    text-align: center;
    a{
      font-size: rem(22);
      font-weight: 600;
    }
  }
  .tab-slide{
    button{
      background-color: #ffffff;
      border: rem(1) solid #dee2e6;
      padding: rem(23) rem(25);
      &.owl-prev{
        position: absolute;
        top: 0;
        left: -#{rem(59)};
        background-image: url(../img/nav-left-arrow.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30%;
        width: rem(60);
        height: rem(82);
        span{
          display: none;
        }
      }
      &.owl-next{
        position: absolute;
        top: 0;
        right: -#{rem(59)};
        background-image: url(../img/nav-right-arrow.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30%;
        width: rem(60);
        height: rem(84);
        span{
          display: none;
        }
      }
    }
  }
  .owl-dots{
    display: none;
  }
}