.state-list{
  text-align: center;
  width: 100%;
  padding: 0 rem(20);
  border-bottom:rem(2) solid #dee2e6;
  ul{
    text-align: center;
    font-size: rem(28);
    margin-bottom:rem(40);
    >li{
      background-image: url(../img/state.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      padding: vw(25) 0;
      height: vh(53);
      margin-top: rem(30);
      &.now-state{
        background-image: url(../img/state_now.png);
        color: $fc-white;
        span{
          color: $fc-white;
        }
      }
      &:last-child{
        background-image: none;
        border: rem(2) solid $secondary;
        height: rem(84);
        padding: vw(25) 0;
        margin-left: rem(8);
        margin-right: rem(8);
        &.now-state{
          background-color:$primary;
          color: $fc-white;
        }
      }
      span{
        color:$secondary ;
      }
    }
  }
}