.tab-banner{
  .item{
    &.current{
      background-color: $primary;
      a{
        color: $fc-white;
      }
    }
  }
}
.tab-content{
  display: none;
  &.current{
    display: block;
    padding: 0 rem(21);
  }
}