@charset 'utf-8';

$fc-white:#ffffff;
$fc-black:#000000;
$fc-secondary:#6b6b6b;

$table-bottom:rem(1) solid #e4e4e4;

$primary-btn:#A50034;
$secondary-btn:#6b6b6b;
$black-third-btn:$fc-black;
$white-thrid-btn-border:#6b6b6b;

$primary:$primary-btn;
$secondary:$secondary-btn;

$table-header-bg:#f8f8f8;

$bg-header:#333333;

$section-pad:rem(32);